@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

$main_text_color: $black_text;
$checkbox_color: $blue_color;

.cart {

  &__input {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border-width: 0;
    background-color: $checkbox_color;

    &::after {
      position: absolute;
      content: '';
      top: 3px;
      left: 4px;
      width: 9px;
      height: 9px;
      background-image: url('~/assets/images/icons/check-icon.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--unchecked {
      cursor: pointer;
      position: relative;
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 2px solid $checkbox_color;
      background-color: transparent;
    }
  }

  &__input-checkbox {
    position: absolute;
    visibility: hidden;
  }

  &__input-label {
    font-size: 14px;
    line-height: 1.28;
    margin-left: 16px;
  }

  &__check-all {
    display: flex;
    color: $main_text_color;
  }
}
