@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

$form_background: $gray_background;
$main_text_color: $black_text;
$discount_color: $attention_color;
$description_color: $gray_text;
$line_color: rgba(0, 26, 52, 0.163844);
$btn_color: $blue_color;

.cart {
  @include container-responsive;

  &__order-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 16px;
  }

  &__info {
    background-color: $form_background;
    box-sizing: border-box;
    padding: 24px;
  }

  &__pre-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__pre-price-title {
    font-size: 16px;
    line-height: 1.25;
    color: $main_text_color;
  }

  &__pre-price {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.25;
    color: $main_text_color;
  }

  &__pre-result {
    border-bottom: 1px solid $line_color;
    margin-bottom: 16px;
  }

  &__result-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.3;
    color: $main_text_color;
  }

  &__discount-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__discount-title {
    font-size: 16px;
    line-height: 1.25;
    color: $main_text_color;
  }

  &__discount {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.25;
    color: $discount_color;
  }

  &__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  &__result-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.3;
    color: $main_text_color;
  }

  &__result-price {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.3;
    color: $main_text_color;
  }

  &__send {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    font-size: 16px;
    color: $description_color;
    max-width: 300px;
  }

  &__button {
    @include btn-reset;

    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.28;
    border-radius: 3px;
  }

  &__button-submit {
    color: $white_color;
    background-color: $btn_color;
    min-width: 300px;
    cursor: pointer;

    &:hover,
    &:active {
      opacity: 0.9;
      transition: all 300ms;
      transform: translateY(-1px);
      box-shadow:  0 5px 5px -5px rgba(0, 0, 0, 0.4);
    }
  }
}
