<div class="cart__info">
  <div class="cart__order-title">
    Ваш заказ:
  </div>
  <div class="cart__pre-result">
    <div class="cart__pre-price-wrapper">
      <div class="cart__pre-price-title">
        {{countOfCheckedProducts}} {{word}} на сумму
      </div>
      <div class="cart__pre-price">
        {{price}}&#8381;
      </div>
    </div>
    <div class="cart__discount-wrapper" *ngIf="service.getDisountOfProducts() > 0">
      <div class="cart__discount-title">
        Скидка
      </div>
      <div class="cart__discount">
        -{{discount}}&#8381;
      </div>
    </div>
  </div>
  <div class="cart__result">
    <div class="cart__result-title">
      Общая стоимость
    </div>
    <div class="cart__result-price">
      {{totalPrice}}&#8381;
    </div>
  </div>
  <div class="cart__send">
    <div class="cart__description">
      Доступные способы и время доставки можно выбрать при оформлении заказа
    </div>
    <button class="cart__button cart__button-submit" (click)="onSubmit()">
      Оформить
    </button>
  </div>
</div>
