@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

$delete_text_color: $attention_color;

.cart {
  &__delete-button {
    @include btn-reset;

    font-size: 14px;
    line-height: 1.28;
    color: $delete_text_color;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
