// media
$width-mobile: '(max-width: 767px)';
$width-tablet: '(min-width: 768px)';
$width-desktop: '(min-width: 1024px)';

//colors
$white_color: #FFF;
$gray_text: #808D9A;
$black_text: #001A34;
$attention_color: #F91155;
